* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar header header header header header"
        "sidebar main main main main aside"
        "sidebar main main main main aside"
        "sidebar main main main main aside"
        "sidebar main main main main aside"
        "sidebar main main main main aside"
        "sidebar main main main main aside"
    ;
}

header {
    background-color: rgb(253, 106, 253);
    grid-area: header
}


.search-bar {
    height: 2rem;
    border-radius: 25%;
    width: 200px;
    background-color: grey;
}

.notifications {
    width: 1rem;
}

main {
    background-color: salmon;
    grid-area: main;
}

.sidebar {
    background-color: lightblue;
    grid-area: sidebar;

}

aside {
    background-color: olivedrab;
    grid-area: aside;
}

/* temp  */

img {
    height: 2rem;
    width: 2rem;
}